* {
    font-family: 'Manrope', sans-serif;
}

.blur-25 {
    border-radius: 10px;
    filter: grayscale(25%) blur(1px) brightness(50%);
}

.register-cover {
    background: url(../img/login-back.jpg);
    background-size: cover;
}